.IntroBlock button {
  border: none;
  outline: none;
  padding: 1em 3em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Phixah Core";
  border-radius: 7px;
  color: white;
  margin-left: 0.15em;
  margin-right: 0.15em;
  background-color: #26361b;
  cursor: pointer;
}

.Slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Slogan img {
  margin-top: 10em;
}


.SloganText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 2em;
}

.SloganText h1 {
  font-family: "Phixah Bahn";
  font-weight: 900;
  font-size: 4.5em;
}

.SloganText h3 {
  font-family: "Phixah Air";
  font-size: 3em;
  font-style: italic;
  opacity: 0.5;
}