.InputTodo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 4em;
  flex: 10;
}

.InputTodo h1 {
  font-family: "Phixah Bahn";
  font-weight: 900;
  font-size: 3em;
  color: #26361b;
  margin-bottom: 0.2em;
}

.InputTodo input {
  background-color: #5e6c3d;
  font-size: 1.35em;
  color: white;
  font-family: "Phixah Bahn";
  padding: 0.35em;
  font-weight: 100;
  width: 100%;
  height: 10%;
}

.InputTodo button {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-family: "Phixah Core";
  border-radius: 7px;
  color: white;
  margin-top: 0.6em;

  background-color: #26361b;
  cursor: pointer;
}