.SignInBlock {
  width: 40%;
  height: fit-content;
  background-color: #5e6c3d;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 6px;
}
.SignInBlock:not(button) {
  font-family: "Phixah Bahn";
}
.SignInBlock:not(button, h1) {
  font-weight: lighter;
}

.SignInBlock header {
  background-color: rgba(0, 0, 0, 0.17);
  padding: 2em;
}

.SignInBlock header h1 {
 font-size: 3em;
}
.SignInBlock header p {
 font-size: 1.15em;
}
.SignInBlock header a {
  color: white;
}


.SignInBlock section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.SignInBlock section form {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 100%;
}

.SignInBlock section form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25em;
  width: 100%;
  font-size: 1.25em;
}

.SignInBlock section form label input {
  background-color: #26361B;
  font-size: 1em;
  width: 100%;
  color: white;
  padding: 0.5em;
  font-family: "Phixah Bahn";
  font-weight: 100;
}

.SignInBlock section form button {
  border: none;
  outline: none;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-family: "Phixah Core";
  border-radius: 7px;
  color: white;
  margin-top: 0.6em;

  background-color: #26361b;
  cursor: pointer;

}